@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --1: 4;
  --2: 8;
  --3: 12;
  --4: 16;
  --5: 20;
  --6: 24;
  --7: 28;
  --8: 32;
  --9: 36;
  --10: 40;
  --11: 44;
  --12: 48;
  --14: 56;
  --16: 64;
  --20: 80;
  --24: 96;
  --28: 112;
  --32: 128;
  --36: 144;
  --40: 160;
  --44: 176;
  --48: 192;
  --52: 208;
  --56: 224;
  --60: 240;
  --64: 256;
  --72: 288;
  --80: 320;
  --96: 384;
  --color-orange-25: #fffcfa;
  --color-orange-50: #fff2e5;
  --color-orange-100: #ffe5cc;
  --color-orange-200: #ffca99;
  --color-orange-300: #ffb066;
  --color-orange-400: #ff9533;
  --color-orange-500: #ff7b00;
  --color-orange-600: #cc6200;
  --color-orange-700: #994a00;
  --color-orange-800: #663100;
  --color-gray-100: #cbcbcd;
  --color-gray-200: #b1b1b4;
  --color-gray-300: #96969c;
  --color-gray-400: #7c7c83;
  --color-gray-500: #636369;
  --color-gray-600: #4b4b4e;
  --color-gray-700: #323234;
  --color-gray-750: #262628;
  --color-gray-800: #19191a;
  --color-white-100: #ffffff;
  --color-white-200: #e5e5e5;
  --color-white-300: #d9d9d9;
  --color-yellow-50: #fff8e6;
  --color-yellow-100: #fff0cc;
  --color-yellow-200: #ffe299;
  --color-yellow-300: #fed367;
  --color-yellow-400: #fec534;
  --color-yellow-500: #feb601;
  --color-yellow-600: #cb9201;
  --color-green-300: #88dd9d;
  --color-green-400: #60d27d;
  --color-green-500: #38c65c;
  --color-green-600: #2d9f4a;
  --color-green-700: #227737;
  --color-red-100: #f4dbd7;
  --color-red-200: #e8b6b0;
  --color-red-300: #dd9288;
  --color-red-400: #d26d60;
  --color-red-500: #c74938;
  --color-red-600: #9f3a2d;
  --font-family-poppins: Poppins;
  --text-size-eiei: 12;
  --font-size-sm: 14;
  --font-size-5xl: 48;
  --font-size-6xl: 60;
  --font-size-7xl: 72;
  --font-size-8xl: 96;
  --font-size-9xl: 128;
  --font-size-2xs: 10;
  --font-size-base: 16;
  --font-size-lg: 18;
  --font-size-xl: 20;
  --font-size-2xl: 24;
  --font-size-3xl: 30;
  --font-size-4xl: 36;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --font-line-height-xs: 18;
  --font-line-height-6xl: 90;
  --font-line-height-5xl: 72;
  --font-line-height-8xl: 144;
  --font-line-height-7xl: 108;
  --font-line-height-sm: 22;
  --font-line-height-9xl: 192;
  --font-line-height-2xs: 16;
  --font-line-height-base: 24;
  --font-line-height-lg: 28;
  --font-line-height-xl: 30;
  --font-line-height-2xl: 36;
  --font-line-height-3xl: 46;
  --font-line-height-4xl: 54;
  --gap-ha:3;
  --m-tk: 2;
  --spacing-1: 4;
  --spacing-2: 8;
  --spacing-3: 12;
  --spacing-4: 16;
  --spacing-5: 20;
  --spacing-6: 24;
  --spacing-7: 28;
  --spacing-8: 32;
  --spacing-9: 36;
  --spacing-10: 40;
  --spacing-11: 44;
  --spacing-12: 48;
  --spacing-14: 56;
  --spacing-16: 64;
  --spacing-20: 80;
  --spacing-24: 96;
  --spacing-28: 112;
  --spacing-32: 128;
  --spacing-36: 144;
  --spacing-40: 160;
  --spacing-44: 176;
  --spacing-48: 192;
  --spacing-52: 208;
  --spacing-56: 224;
  --spacing-60: 240;
  --spacing-64: 256;
  --spacing-72: 288;
  --spacing-80: 320;
  --spacing-96: 384;
  --spacing-4-2: 16;
  --spacing-3-5: 14;
  --spacing-2-5: 10;
  --spacing-1-5: 6;
  --spacing-3-2: 12;
  --spacing-2-2: 8;
  --spacing-1-2: 4;
  --spacing-0-5: 2;
  --spacing-8-2: 32;
  --spacing-7-2: 28;
  --spacing-10-2: 40;
  --spacing-12-2: 48;
  --spacing-6-2: 24;
  --spacing-5-2: 20;
  --spacing-px: 1;
  --spacing-11-2: 44;
  --spacing-9-2: 36;
  --3-5: 14;
  --2-5: 10;
  --1-5: 6;
  --border-radius-4xl: 32;
  --border-radius-3xl: 24;
  --border-radius-2xl: 16;
  --border-radius-lg: 8;
  --border-radius-full: 9999;
  --border-radius-md: 6;
  --border-radius-xl: 12;
  --border-radius-sm: 4;
  --border-radius-xs: 2;
  --border-width-1: 1;
  --border-width-2: 2;
  --border-width-4: 4;
  --border-width-8: 8;
  --0-5: 2;
  --px: 1;
  --opacity-5: 5;
  --opacity-10: 10;
  --opacity-15: 15;
  --opacity-20: 20;
  --opacity-25: 25;
  --opacity-30: 30;
  --opacity-35: 35;
  --opacity-40: 40;
  --opacity-45: 45;
  --opacity-50: 50;
  --opacity-55: 55;
  --opacity-60: 60;
  --opacity-65: 65;
  --opacity-70: 70;
  --opacity-75: 75;
  --opacity-80: 80;
  --opacity-85: 85;
  --opacity-90: 90;
  --opacity-95: 95;
  --opacity-100: 100;
  --blur-3xl: 64;
  --blur-2xl: 40;
  --blur-lg: 16;
  --blur-md: 12;
  --blur-xs: 4;
  --blur-xl: 24;
  --blur-sm: 8;

  --semantic-color-text-primary: #19191a;
  --semantic-color-text-secondary: #4b4b4e;
  --semantic-color-text-tertiary: #96969c;
  --semantic-color-text-disabled: #cbcbcd;
  --semantic-color-text-white: #ffffff;
  --semantic-color-bg-primary: #ffe5cc;
  --semantic-color-bg-secondary: #fff2e5;
  --semantic-color-surface-card: #fffcfa;
  --semantic-color-brand-primary: #ff9533;
  --semantic-color-brand-secondary: #ffb066;
  --semantic-color-brand-tertiary: #ffca99;
  --semantic-text-heading-h1-font-size: 60;
  --semantic-text-heading-h1-line-height: 90;
  --semantic-text-heading-h1-font-weight: 700;
  --semantic-text-heading-h2-font-size: 48;
  --semantic-text-heading-h2-line-height: 72;
  --semantic-text-heading-h2-font-weight: 700;
  --semantic-text-heading-h3-font-size: 36;
  --semantic-text-heading-h3-line-height: 54;
  --semantic-text-heading-h3-font-weight: 700;
  --semantic-text-heading-h4-font-size: 30;
  --semantic-text-heading-h4-line-height: 46;
  --semantic-text-heading-h4-font-weight: 700;
  --semantic-text-heading-h5-font-size: 24;
  --semantic-text-heading-h5-line-height: 36;
  --semantic-text-heading-h5-font-weight: 700;
  --semantic-text-heading-h6-font-size: 20;
  --semantic-text-heading-h6-line-height: 30;
  --semantic-text-heading-h6-font-weight: 700;
  --semantic-text-caption-2xs-font-size: 10;
  --semantic-text-caption-2xs-line-height: 16;
  --semantic-text-caption-2xs-font-weight: 400;
  --semantic-text-caption-xs-font-size: 12;
  --semantic-text-caption-xs-line-height: 18;
  --semantic-text-caption-xs-font-weight: 400;
  --semantic-text-subtitle-l-font-size: 20;
  --semantic-text-subtitle-l-line-height: 30;
  --semantic-text-subtitle-l-font-weight: 500;
  --semantic-text-subtitle-m-font-size: 18;
  --semantic-text-subtitle-m-line-height: 28;
  --semantic-text-subtitle-m-font-weight: 500;
  --semantic-text-subtitle-s-font-size: 16;
  --semantic-text-subtitle-s-line-height: 24;
  --semantic-text-subtitle-s-font-weight: 500;
  --semantic-text-body-m-font-size: 16;
  --semantic-text-body-m-line-height: 24;
  --semantic-text-body-m-font-weight: 400;
  --semantic-text-body-s-font-size: 14;
  --semantic-text-body-s-line-height: 22;
  --semantic-text-body-s-font-weight: 400;
  --semantic-text-link-xs-font-size: 12;
  --semantic-text-link-xs-line-height: 18;
  --semantic-text-link-xs-font-weight: 500;
  --semantic-text-link-m-font-size: 16;
  --semantic-text-link-m-line-height: 24;
  --semantic-text-link-m-font-weight: 500;
  --semantic-text-link-s-font-size: 14;
  --semantic-text-link-s-line-height: 22;
  --semantic-text-link-s-font-weight: 500;
  --semantic-text-button-m-font-size: 16;
  --semantic-text-button-m-line-height: 24;
  --semantic-text-button-m-font-weight: 600;
  --semantic-text-button-s-font-size: 14;
  --semantic-text-button-s-line-height: 22;
  --semantic-text-button-s-font-weight: 600;
  --semantic-text-field-placeholder-l-font-size: 18;
  --semantic-text-field-placeholder-l-line-height: 28;
  --semantic-text-field-placeholder-l-font-weight: 500;
  --semantic-text-field-placeholder-m-font-size: 16;
  --semantic-text-field-placeholder-m-line-height: 24;
  --semantic-text-field-placeholder-m-font-weight: 500;
  --semantic-text-field-placeholder-s-font-size: 14;
  --semantic-text-field-placeholder-s-line-height: 22;
  --semantic-text-field-placeholder-s-font-weight: 500;
  --semantic-text-field-title-l-font-size: 20;
  --semantic-text-field-title-l-line-height: 30;
  --semantic-text-field-title-l-font-weight: 500;
  --semantic-text-field-title-m-font-size: 16;
  --semantic-text-field-title-m-line-height: 24;
  --semantic-text-field-title-m-font-weight: 500;
  --semantic-text-field-title-s-font-size: 14;
  --semantic-text-field-title-s-line-height: 22;
  --semantic-text-field-title-s-font-weight: 500;
  --semantic-text-action-m-font-size: 16;
  --semantic-text-action-m-line-height: 24;
  --semantic-text-action-m-font-weight: 400;
  --semantic-text-action-s-font-size: 14;
  --semantic-text-action-s-line-height: 22;
  --semantic-text-action-s-font-weight: 400;
  --semantic-border-radius-button-sm: 4;
  --semantic-border-radius-button-md: 6;
  --semantic-border-radius-button-lg: 8;
 
  --components-btn-primary-text-color: #ffffff;
  --components-btn-primary-bg: #ff9533;
  --components-btn-primary-border: #ffffff;

  --radius-eueu: 32;

  --text-subtitle-m-line-height: var(--semantic-text-subtitle-m-line-height);
  --text-heading-h3-font-size: var(--semantic-text-heading-h3-font-size);
  --font-heading-h3: var(--semantic-text-heading-h3-font-weight);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-button-s-new {
  /* font-size: theme(--semantic-text-button-s-font-size); */
  line-height: theme(--semantic-text-button-s-line-height);
  font-weight: theme(--semantic-text-button-s-font-weight);
  color: var(--components-btn-primary-text-color);
  background: var(--components-btn-primary-bg);
  border: var(--components-btn-primary-border);
  border-radius: theme(--semantic-border-radius-button-sm);
  text-align: center;
}





